/* Additional Application CSS */

img.card_image {
  margin: 0px 5px 5px 0px;
  border: 2px solid black;
  border-radius: 6px;
}

#play_or_quit_buttons {
  margin-bottom: 30px;
}

#blackjack_title {
  text-align: center;
}

#player_actions {
  position: relative;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  width: 40em;
  padding-top: 10px;
  margin-bottom: 30px;
}

form#hit_form {
  display: inline-block;
}

form#stay_form {
  display: inline-block;
  margin-left: 20px;
}

